{% extends "base.html" %}
{% load static %}
{% block title %} Policies
{% endblock %}

{% block content %}

<section class="w3l-service-breadcrum">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>Our Policies</h2>
            <p><a href="/">Home</a> &nbsp; / &nbsp; Policies</p>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-12 m-md-4">

          
                <h2 id="#privacy">Privacy Policy</h2>
         

            <p class="mt-3">1. Introduction:<br>
                Cizoti Nigeria Ltd and Odyssey Educational Foundation (hereinafter referred to as "we" or "us" or “our”)
                are committed to protecting the privacy of our users, participants, and stakeholders (hereinafter
                referred to as "you" or "your") involved in our digital skills training programs. This Privacy Policy
                outlines our practices for collecting, using, and disclosing your personal information.
            </p>

            <p class="mt-3">2. Information We Collect:</p>

            <p>
                We collect personal information from you in various ways, including:
            <ul class="pl-5">
                <li>Registration and Enrollment: When you register or enroll in a training program, we may collect your
                    name, email address, phone number, address, biometric data, educational background, and other
                    relevant information.</li>
                <li>Program Participation: During your participation in our programs, we may collect information about
                    your attendance, performance, course progress, and feedback.</li>
                <li>Technical Data: We may automatically collect information about your use of our website and online
                    platforms, such as your IP address, browser type, device information, and browsing history.</li>
                <li>Cookies and Similar Technologies: We may use cookies and similar technologies to personalize your
                    experience, analyze website traffic, and improve our services.</li>
            </ul>
            </p>



            <p class="mt-3">3. How We Use Your Information:</p>
            <p>
                We use your personal information for the following purposes:
            <ul class="pl-5">
                <li>Program Administration: To manage your enrollment, provide necessary training materials, communicate
                    program updates, and evaluate your progress.</li>
                <li>Feedback and Improvement: To collect your feedback on our programs and services to improve their
                    effectiveness and quality.</li>
                <li>Marketing and Outreach: To send you information about our programs, events, and other updates,
                    unless you have opted out of receiving such communications.</li>
                <li>Compliance and Legal Requirements: To comply with applicable laws and regulations, and respond to
                    legal requests or court orders.</li>
            </ul>
            </p>


            <p class="mt-3">4. Data Sharing and Disclosure:
                We may share your personal information with the following third parties:
            <ul class="pl-5">
                <li>Service Providers: We may share your data with trusted service providers who assist us in operating
                    our programs and services, such as technology providers, payment processors, and marketing agencies.
                    These service providers are contractually obligated to keep your information confidential and
                    secure.</li>
                <li>Educational Institutions: With your consent, we may share your program completion certificates or
                    achievements with relevant educational institutions for academic credits or recognition purposes.
                </li>
                <li>Industry Partners: With your consent, we may share your personal data, including contact
                    information, skills data, and academic qualifications, with relevant industry partners for
                    internship and job placement opportunities. These partners are carefully selected based on their
                    commitment to data privacy and their alignment with your career goals. You will always be informed
                    in advance of any data sharing and have the right to withdraw your consent at any time.</li>
                <li>Government Agencies: We may disclose your information to government agencies under legal compulsion
                    or in case of legitimate legal requests.</li>
                <li>Grantors: As a recipient of funding from the IGF IDEAS Project of the World Bank and the Federal
                    Ministry of Education in Nigeria, we are required to track the progress and outcomes of our digital
                    skills training program for beneficiary monitoring purposes. To fulfill this requirement, we will
                    share certain personal data with the grantors, including:
                    <ul class="pl-5">
                        <li>Contact information: Name, email address, phone number.</li>
                        <li>Demographic information: Age, gender, educational background.</li>
                        <li>Program data: Course enrollment information, assessment results, skill level data.</li>
                        <li>Post-program data: Information on employment status, salary, further education, or other
                            relevant outcomes.</li>
                    </ul>
                </li>
            </ul>
            </p>


            <p class="mt-3">6. Deanonymization for Beneficiary Tracking:<br>
                While we will always prioritize the protection of your privacy, in this specific case, deanonymization
                of some data may be necessary for the grantors to effectively track your progress and measure the
                program's impact on beneficiaries. We will ensure that deanonymization is only conducted for this
                specific purpose and with appropriate safeguards in place to protect your sensitive information.
            </p>


            <p class="mt-3">7. Safeguards for Deanonymized Data:
                We will implement the following safeguards to protect your deanonymized data:
            <ul class="pl-5">
                <li>Limited access: Only authorized personnel at the NPCU of the Federal Ministry of Education in
                    Nigeria and the IGF IDEAS PIU of the World Bank will have access to deanonymized data.</li>
                <li>Data aggregation: Data will be aggregated and analyzed in a way that does not allow for
                    identification of sensitive data.</li>
                <li>Contractual agreements: We will have contractual agreements with the grantors to ensure that they
                    protect your data and only use it for the intended purpose.</li>
            </ul>
            </p>

            <p class="mt-3">8. Data Security:<br>
                We take reasonable technical and organizational measures to protect your personal information from
                unauthorized access, disclosure, alteration, or destruction. However, no security measures can be
                completely foolproof, and we cannot guarantee the security of your information against any potential
                hazards.
            </p>

            <p class="mt-3">9. Your Data Rights:
                You have the following rights regarding your personal information:
            <ul class="pl-5">
                <li>Access and Rectification: You have the right to access and request correction of your personal
                    information.</li>
                <li>Deletion: You have the right to request deletion of your personal information, subject to certain
                    legal or contractual limitations.</li>
                <li>Objection: You have the right to object to the processing of your personal information for marketing
                    purposes. However, your right to object to data sharing with the grantors may be limited due to our
                    contractual obligations and the legitimate interests of the program.</li>
                <li>Withdrawal of Consent: You have the right to withdraw your consent for the processing of your
                    personal information at any time.</li>
            </ul>
            </p>
            <p>To exercise any of these rights, please contact us at <a
                    href="mailto:ask@cizotilearning.com">ask@cizotilearning.com</a>.</p>


            <p class="mt-3">10. Data Retention:<br>
                We will retain your personal information for as long as necessary to fulfill the purposes for which it
                was collected, comply with legal requirements, and resolve any disputes.
            </p>

            <p class="mt-3">11. International Data Transfers:</p>
            <p>
                If your personal information is transferred to a country outside your jurisdiction, we will take
                appropriate measures to ensure its protection in accordance with applicable data protection laws.
            </p>

            <p class="mt-3">
                12. Changes to this Policy:
            </p>
            <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new
                Privacy Policy on our website. </p>

            <p class="mt-3">
                13. Regulatory Compliance:
            </p>
            <p>This Privacy Policy is subject to the laws of Nigeria, and is intended to comply with applicable data
                protection laws and regulations.</p>
            <p class="mt-3">
                14. Effective Date:
            </p>
            <p>
                This Privacy Policy is effective as of January 01, 2024.
            </p>

            <p>
                Contact Us:
            <p>
                If you have any questions about this Privacy Policy, please contact us at ask@cizotilearning.com.
            </p>
            </p>

        </div>

        <div class="col-12 m-md-4">

            <h2 id="#GBV">Gender-Based Violence (GBV) Policy</h2>

            <p class="mt-3">1. Introduction<br>
                This Gender-Based Violence (GBV) policy outlines the commitment of Cizoti Nigeria Ltd and Odyssey
                Educational Foundation (hereinafter referred to as “we” or “us” or “our”) to preventing, responding to,
                and supporting individuals experiencing GBV within our training center community. We define GBV as any
                harmful act directed at an individual based on their gender or gender identity, including physical,
                sexual, emotional, and psychological abuse, as well as threats, coercion, and discrimination. This
                policy applies to all interactions within the center, including during training sessions, workshops,
                social events, online platforms, and communication channels.
            </p>

            <p class="mt-3">2. Policy Statement<br>
                We are committed to creating a safe and inclusive learning environment for all participants, regardless
                of their gender identity or expression. We believe that everyone has the right to learn and participate
                in our programs free from GBV. This policy aims to:
            </p>

            <ul class="pl-5">
                <li>Prevent GBV: Establish clear expectations and procedures for preventing and reporting GBV incidents.
                </li>
                <li>Respond to GBV: Provide prompt, supportive, and confidential support to individuals who experience
                    GBV.</li>
                <li>Hold perpetrators accountable: Ensure appropriate disciplinary action is taken against individuals
                    who violate this policy.</li>
                <li>Promote awareness and education: Raise awareness about GBV and provide resources and training to
                    participants and staff.</li>
            </ul>

            <p class="mt-3">3. Definition of GBV / Prohibited Conduct<br>
                GBV is any harmful act directed at a person based on their gender or gender identity. The following
                behaviors are strictly prohibited within the training center: In the context of the training center, GBV
                includes but is not limited to:
            </p>

            <ul class="pl-5">
                <li>Physical violence (hitting, kicking, choking, pushing, shoving, or any other form of physical
                    aggression or harm)</li>
                <li>Sexual violence (rape, sexual assault, harassment, unwanted touching, groping, and any other form of
                    sexual misconduct)</li>
                <li>Emotional and psychological abuse (verbal abuse, insults, humiliation, intimidation, threats,
                    cyberbullying, stalking, derogatory remarks, spreading rumors, or other forms of emotional
                    manipulation, control and/or psychological harm)</li>
                <li>Discrimination (any act or behavior that unfairly treats a person differently based on their gender,
                    gender identity, or any other protected characteristic that creates a hostile or discriminatory
                    environment)</li>
                <li>Harassment (unwanted comments, jokes, gestures, or behavior that creates a hostile or offensive
                    environment for an individual).</li>
            </ul>

            <p class="mt-3">4. Prevention Measures<br>
                We will implement various measures to prevent through conducting regular training sessions for staff,
                instructors, and trainees on recognizing and reporting GBV, understanding the impact of GBV, building a
                safe and inclusive learning environment, bystander intervention techniques, prevention, and reporting
                procedures. More specifically, we will:
            </p>

            <ul class="pl-5">
                <li>Promote a culture of respect, inclusivity, and zero tolerance for GBV through code of conduct
                    guidelines, communication protocols, and safe space initiatives.</li>
                <li>Equip individuals with skills and strategies to safely intervene and support others experiencing
                    GBV.</li>
                <li>Encourage open communication and reporting of any concerns or discomfort through various channels.
                </li>
                <li>Collaborate with relevant organizations and support services to offer comprehensive support to
                    individuals experiencing GBV.</li>
            </ul>

            <p class="mt-3">5. Reporting Procedures<br>
                We encourage anyone who experiences or witnesses GBV within the training center to report it
                immediately. Reports can be made confidentially to any of the following:
            </p>

            <ul class="pl-5">
                <li>Designated GBV Focal Point: A list of designated staff members trained to handle GBV reports will be
                    readily available and prominently displayed within the center.</li>
                <li>Direct communication: Speaking to a staff member, instructor, or another trusted individual.</li>
                <li>Anonymous reporting channels: A secure and anonymous online or offline reporting mechanism will be
                    available for individuals who feel uncomfortable disclosing their identity.</li>
                <li>External resources: Reaching out to local support organizations or authorities</li>
            </ul>

            <p class="mt-3">All reports will be treated with confidentiality and sensitivity. We will provide support
                and guidance throughout the reporting process.</p>

          

            <p class="mt-3">6. Investigation and Response:<br>
                All reported incidents of GBV will be taken seriously and investigated promptly and fairly. The investigation will be conducted by a trained and impartial individual or committee. Upon receiving a report, the we will:
            </p>
        
            <ul class="pl-5">
                <li>Conduct a prompt and thorough investigation.</li>
                <li>Provide support and resources to the victim, including access to counseling, medical care, legal assistance, and safety measures.</li>
                <li>Take appropriate disciplinary action against the perpetrator, including temporary suspension or termination of employment or participation in the program.</li>
                <li>Document the incident and all actions taken in accordance with relevant legal and ethical guidelines.</li>
            </ul>
        
            <p class="mt-3">Based on the investigation findings, appropriate disciplinary actions will be taken, which may include:</p>
        
            <ul class="pl-5">
                <li>Verbal or written warnings</li>
                <li>Suspension or expulsion from the program</li>
                <li>Reporting to law enforcement</li>
            </ul>
        
            <p class="mt-3">7. Support Services:<br>
                We recognize the emotional and psychological impact of GBV and are committed to providing support services to those affected. These services may include:
            </p>
        
            <ul class="pl-5">
                <li>Counseling and emotional support: [one-on-one counseling]</li>
                <li>Medical referrals: If necessary, we will help individuals access medical attention and support.</li>
                <li>Legal advice and assistance: We can provide information and assistance in seeking legal recourse.</li>
                <li>Safety and security measures: We will take steps to ensure the safety of those affected, including reporting to relevant security agencies.</li>
            </ul>
        
            <p class="mt-3">8. Zero Tolerance Policy:<br>
                We have a zero-tolerance policy for GBV and are committed to creating a safe and inclusive learning environment for everyone. This means that any act, language, or behavior that constitutes GBV towards any individual regardless of their gender identity, gender expression, sexual orientation, cultural background, and/or any other personal characteristic will be taken seriously and will not be tolerated.
            </p>
        
            <p class="mt-3"><strong>9. Review and Revision:</strong><br>
                This policy will be reviewed and revised periodically to ensure it remains relevant and effective in addressing GBV within the training center. Feedback from staff, instructors, and trainees will be actively sought and incorporated into the review process.
            </p>
        
            <p class="mt-3"><strong>Conclusion:</strong><br>
                This policy reaffirms our commitment to creating a safe and empowering environment for all individuals within our digital skills training centers. By implementing this GBV policy and taking proactive steps to prevent and address incidents, we foster a safe and inclusive learning environment where everyone feels valued and respected.
            </p>
        
            <p class="mt-3"><strong>Disclaimer:</strong><br>
                This policy is not intended to be a substitute for legal advice. We encourage anyone who experiences or witnesses GBV to seek legal advice if necessary.
            </p>
        
            <p class="mt-3"><strong>Contact Information:</strong><br>
                For any questions or concerns regarding this policy, please contact us at sk@cizotilearning.com
            </p>
        
            <p class="mt-3"><strong>Permitted Use:</strong><br>
                This form may be used for its intended purpose within Cizoti Nigeria Ltd. It may be provided to authorized personnel within the organization for the purpose of developing an online portal to recruit trainees for a digital skills training program.
            </p>
        
       
        

        </div>
    </div>
</div>

{% endblock %}