{% extends "base.html" %} 
{% load static %} 
{% block title %} Enrollment 
{% endblock %} 

{% block content %}

<section class="w3l-service-breadcrum">
    <div class="breadcrum-bg py-sm-5 py-4">
      <div class="container py-lg-3">
        <h2>Registration Completed</h2>
        <p><a href="/">Home</a> &nbsp; / &nbsp; Enrollment</p>
      </div>
    </div>
  </section>
    <div class="container">
        <div class="m-5 p-5">
          

          <p>Your application has been successfully submitted and is now under review. </p>
          <p>We will notify you by email if you're shortlisted.</p>
      
        </div>
    </div>
{% endblock %}