{% extends "base.html" %} 
{% load static %} 
{% block title %} Enrollment 
{% endblock %} 

{% block content %}

<section class="w3l-service-breadcrum">
    <div class="breadcrum-bg py-sm-5 py-4">
      <div class="container py-lg-3">
        <h2>Registration Completed</h2>
        <p><a href="/">Home</a> &nbsp; / &nbsp; Enrollment</p>
      </div>
    </div>
  </section>
    <div class="container">
        <div class="m-5 p-5">
          

          <p>Congratulations! 🎉 Your registration with IGF Digital Skill Training is complete.</p>

          <p>Your account is almost ready. Please check your email for an evaluation message. Once approved, you'll get instructions how to proceed.</p>
      
          <p>welcome to IGF Digital Skill Training!</p>
      
          <p>Best regards,<br>
          The IGF Digital Skill Training Team</p>

          <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="/enroll">Enroll Again</a>

        </div>
    </div>
{% endblock %}