{% extends "base.html" %} 
{% load static %} 
{% block title %} Enrollment 
{% endblock %} 

{% block content %}

<section class="w3l-service-breadcrum">
    <div class="breadcrum-bg py-sm-5 py-4">
      <div class="container py-lg-3">
        <h2>Registration Completed</h2>
        <p><a href="/">Home</a> &nbsp; / &nbsp; Enrollment</p>
      </div>
    </div>
  </section>
    <div class="container">
        <div class="m-5 p-5">
          

        <p><strong>Congratulations!</strong> 🎉 You've successfully completed your registration with [Your Platform/Service Name]. Thank you for choosing us!</p>
    
        <p>Your account is almost ready. Please keep an eye on your email inbox for an evaluation email. We're currently reviewing your registration, and once approved, you'll receive further instructions to access all the features of [Your Platform/Service Name].</p>
    
        <p>In the meantime, feel free to explore our website and learn more about what [Your Platform/Service Name] has to offer. If you have any urgent questions or concerns, don't hesitate to reach out to our support team.</p>
    
        <p>Thank you for your patience and welcome to [Your Platform/Service Name]!</p>
    
        <p>Best regards,<br>
        The [Your Platform/Service Name] Team</p>
        </div>
    </div>
{% endblock %}